{% extends 'base.html' %}
{% block body %}
  

  <br>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/multiplication" class="btn btn-dark"><b>Multiplication Of Two Matrices</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/summation" class="btn btn-dark"><b>Sum Of Two Matrices</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/substraction" class="btn btn-dark"><b>Substraction Of Two Matrices</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/determinant" class="btn btn-dark"><b>Determinant Of Matrix</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/inverse" class="btn btn-dark"><b>Inverse Of a Matrix</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/transpose" class="btn btn-dark"><b>Transpose Of a Matrix</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/power" class="btn btn-dark"><b>n Power Of Matrix</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/scalarmultiplication" class="btn btn-dark"><b>Scalar Multication Of a Matrix</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/scalarsum" class="btn btn-dark"><b>Scallar Summation Of a Matrix</b></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body text-center">
            <a href="/scalarsubstraction" class="btn btn-dark"><b>Scallar Substraction Of a Matrix</b></a>
          </div>
        </div>
      </div>

    </div>

    <br>
    <hr>
    <br>


   
  </div>
  <br>

  {% endblock body %}
