{% extends 'base.html' %}
{% block body %}
<br><h1>{{o}}</h1><hr><br>
<div class="container">
    

    <form action="/{{act}}" method="post">
        <div class="container text-center">
            
                <div class="row text-center">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <label for="row1">Row Of 1st Matrix : </label>
                                <input type="text" size="1" name="r1" value="{{r1}}" readonly>
                                <br>
                                <br>
                                <label for="col1">Column Of 1st Matrix : </label>
                                <input type="text" size="1" name="c1" value="{{c1}}" readonly>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- <br> -->
           
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-decoration: underline;">Number</h3>
                        <hr>
                        <div class="table-responsive text-center">
                            <input type="text" size="1" name="n">
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3 style="text-decoration: underline;">Matrix</h3>
                        <div class="table-responsive">
                            <table class="table table-bordered border-dark">
                                <tbody>
                                    {% for i in range(r1) %}
                                    <tr>
                                        {% for j in range(c1) %}
                                        <td><input type="text" size="1" name="A[{{i}}][{{j}}]" value=""></td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>


            <button type="submit">Submit</button>
        </div>
    </form>
        

</div>

    
{% endblock body %}